fastapi
uvicorn

numpy>=2.1,<2.5
soundfile
librosa>=0.10.1

torch~=2.8.0
torchaudio~=2.8.0

whisperx>=3.8.0

transformers>=4.48
huggingface_hub>=0.25,<1.0.0
tokenizers>=0.22,<0.24
speechbrain
scipy>=1.12
